/************Navbar Styling*******************/
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.logo{
    display: flex;
    margin-top: 2.5rem;
    color: white;
}
.logo-icon{
    font-size: 4rem;
    margin-right: 0.5rem;
    
}
.logo-text{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0.5rem;
}
.mobile{
    display: none;
}
.nav ul{
    display: flex;
    font-weight: 200;
    margin-top: 4rem;
    
}
.nav ul li{
    margin-right: 4rem;
   
}
.nav ul li a{
    color: rgba(240, 248, 255, 0.532);
}
.hire button{
margin-top: 3rem;
color: white;
background-color: #2a2c39;
font-size: 1.3rem;
display: inline-flex;
font-weight: 600;
padding: 1.5rem 2.5rem;
border-radius: 5rem;
border:1px solid rgba(240, 248, 255, 0.532);
}
.hire button .icon{
margin-left: 1rem;
margin-top: 0.2rem;
font-size: 1.2rem;
}
@media screen and (max-width:1100px){
    .navbar{
        background-color: #2a2c39;
        display: grid;
        grid-template-columns: 80% 10%;
    }
    .logo{
        margin-top: 1rem;
    }
    .mobile{
        display: inherit;
        font-size: 2.5rem;
        margin-top: 2rem;
        color: white;
        border-radius: 6rem;
        
    }
    .mobile-icon .icon{
        border-radius: 1rem;
    }
    .nav,.hire{
        display: none;
    }
}