body {
  box-sizing: border-box;
  margin: 0 auto;
 overflow: hidden;
 background-image: radial-gradient(#2a2c39 ,rgba(3, 3, 70, 0.838 )20%  );
 font-size: 1.5rem;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}